NEXT_PUBLIC_SUPABASE_URL=https://bzevyngygarbcetxbdlf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
NEXT_PUBLIC_ADMIN_EMAIL=agrawaldrishti59@gmail.com
NEXT_PUBLIC_APP_URL=https://your-vercel-url.vercel.app
GOOGLE_SCRIPT_URL=your_google_script_url
